
*,
::after,
::before {
  box-sizing: border-box;
}

body{
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-image: url(./assets/bg.jpg);
}

#img-container{
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  overflow: hidden;
}
.chat_container {
  width: 48%;
  display: flex;
  position: absolute;
  bottom: 36px;
  /* right: 186px; */
  right: 30%;
  z-index: 1000;
}
#img-bg{
  width: 100%;
  height: 100%;
}

div#show-fps {
  display: none;
}

 /* Define the font */
 @font-face {
  font-family: 'Satoshi';
  src: url('satoshifont.ttf') format('truetype');
  
}

/* Apply the font to the <p> tag */
p {
  font-family: 'satoshi', sans-serif; /* Fallback to sans-serif font if the custom font is not available */
}
#loaded_whiteboard .textassist{
  position: absolute;
    width: 110% !important;
    height: auto !important;
    right: 78px;
    top: 24px;
    /* display: none; */
    transition: 0.3s;
}
#loaded_whiteboard:hover .textassist{
  display: block;
  transition: 0.3s;
}
#fps-count{
  font-size: 30px;
}
.loading {
  border-radius: 100px;
  width: 100%;
  height: 86%;
  margin-top: 20%;
  /* margin-left: 40%; */
  /* margin-top: 8%; */
}

.gifLoaderConversation {
  z-index: 1000001 !important;
  right: 4%;
}

#message,
#message span {
  /* font-size: unset !important;
    font: italic normal normal 17px/22px Poppins; */
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  font-size: 15px !important;
  line-height: 20px !important;
  margin-right: 2px;
  color: #000;
}

.dave-highlight {
  display: inline-block;
  border: 2px solid #9ae2ff;
  animation-name: dave-highlight;
  animation-duration: 1s;
  animation-iteration-count: 100;
}

@keyframes dave-highlight {
  50% {
    border: 2px solid #ffcd5f;
  }
}

#loaded_whiteboard {
  margin-right: 30px;
  /* z-index: 1000000 !important; */
  z-index: 10 !important;
  position: fixed;
  bottom: 0px;
  right: 0px;
  display: none;
  /* display: block; */
}

#loaded_whiteboard img {
  /* width: 60px !important; */
  width: auto !important;
  height: 170px !important;
}

#loaded_whiteboard.nexa {
  margin-right: 30px;
  /* z-index: 1000000 !important; */
  z-index: 100 !important;
  display: block;
}

#loaded_whiteboard.arena {
  margin-right: 5%;
  /* z-index: 1000000 !important; */
  z-index: 10 !important;
  display: block;
}

#unityContainer {
  margin-top: 0 !important;
  outline: unset;
  touch-action: pan-y !important;
}

.chat_container {
  justify-content: center;
  bottom: 50px;
}

@media only screen and (max-width: 767px) {
  #loaded_whiteboard img {
    /* width: 50px !important; */
    margin-bottom: 100px;
    width: auto !important;
    height: 140px !important;
  }

  #loaded_whiteboard {
    margin-right: 0px;
  }

  #dave_conversation__ {
    top: unset;
    /* bottom: 5%; */
    left: 0;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1000001 !important;
    box-shadow: 0px 0px 5px 5px grey;
  }

  .gifLoaderConversation {
    /* height: auto; */
    width: 90%;
    right: 2%;

  }

  .dave-click {
    background-color: white;
    color: rgb(23, 28, 143);
    border-color: rgb(23, 28, 143);
    font-weight: 500;
    text-align: center;
    width: 350px;
    /* height: 40px; */
    /* left: 40px; */
    padding: 0.5rem 0.5rem;
    /* left: 50px; */
    box-shadow: 0px 0px 6px 1px grey !important;
    /* padding-left: 50px; */
  }

  .dave-click:hover,
  .dave-click:focus,
  .dave-click:active,
  .dave-click:visited {
    background-color: rgb(23, 28, 143);
    color: white;
    font-weight: 500;
  }

  .dave-form {
    border: none;
  }

  #loaded_whiteboard {
    margin-right: 55px;
  }

  #loaded_whiteboard img {
    width: auto !important;
    height: 140px !important;
  }

  .chat_box {
    min-height: 140px !important;
    height: auto !important;
    width: 150%;
    margin-left: 12px;
    margin-top: 4;
  }



  .dave_chat {
    /* width: 70%; */
    width: 100%;
    right: 60px;
  }

  .chat_placeholder .actions .btns {
    height: 10px;
    width: 10px;
  }

  .chat_placeholder .actions {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    float: none;
  }

  .chat_placeholder .response {
    top: -133px !important;
    margin-left: 2px;
    font-size: medium;
    width: 100%;
  }
  #loaded_whiteboard {
    margin-right: 55px;
  }

  #loaded_whiteboard img {
    /* width: 50px !important; */
    width: auto !important;
    height: 140px !important;
    }

  .chat_container {
    bottom: 3%;
    right: 16%;
  }

  .questions {
    bottom: 30px !important;
    margin-bottom: 2px;
  }

  .chat_box.dave-speech-stop .questions {
    margin-bottom: 0 !important;
    bottom: 0 !important;
  }

  .chat_placeholder .response {
    height: 113px !important;
  }

  #message,
  #message span {
    font-size: 12px !important;
  }


  .avatar_container {
    /* width: 100vh; */
    display: block;
    height: 100vh;
    min-height: 400px;
    position: fixed;
    right: -37vh;
    bottom: 2%;
    top: 10vh;
    z-index: 999;
    left: unset;
  }


  .searchable {
    bottom: 30px !important;
    left: 5px;
    max-height: 60px !important;
  }

  .message_box .mic_box {
    width: 10% !important;
    right: 0 !important;
  }

  .message_box .mic_box .btns {
    /* width: 12px !important; */
    height: 12px;
    right: 0;
  }

  .message_box .input_box {
    width: 80% !important;
  }


  .message_box .input_box #input-text {
    padding: 2px 0px 2px 10px !important;
    font-size: 14px !important;
  }

  .message_box .input_box #input-text::placeholder {
    font-size: 14px;
  }

  .message_box .input_box:hover #input-text::placeholder {
    color: #232222;
    font-weight: bold;
  }

  .dave-stop-speech {
    width: 40% !important;
    height: 25px !important;
    font-size: 10px !important;
    cursor: pointer;
  }
}

.message_box .input_box:hover #input-text::placeholder {
  color: #0f0e0e;
  font-weight: normal;
  cursor: pointer;
}

@media only screen and (max-width: 480px) {
  .chat_box {
    width: 122%;
  }

  .chat_placeholder .actions {
    width: auto !important;
  }

  .message_box .input_box .btns#input-send {
    width: 35px !important;
  }

  .message_box .mic_box .btns {
    width: 35px !important;
  }

  @media (max-width: 600px) {
    .chat_container {
      justify-content: flex-start;
      flex-shrink: 1;
      max-height: 70vh;
      max-width: 26vh;
      margin-left: 54px;
    }
  }

  .dave-chat {
    width: 80%;
    right: auto;
  }
}

.dave-click {
  background-color: white;
  color: rgb(23, 28, 143);
  border-color: rgb(23, 28, 143);
  font-weight: 500;
  text-align: center;
  width: 350px;
  /* height: 40px; */
  /* left: 40px; */
  padding: 0.5rem 0.5rem;
  /* left: 50px; */
  box-shadow: 0px 0px 6px 1px grey !important;
  /* padding-left: 50px; */
}

.dave-click:hover,
.dave-click:focus,
.dave-click:active,
.dave-click:visited {
  background-color: rgb(23, 28, 143);
  color: white;
  font-weight: 500;
}

.dave-form {
  border: none;
}

div#disable_layer {
  display: none;
}

.dave-stop-speech {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  /* background: #fff; */
  height: 30px;
  margin-top: 5px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  cursor: pointer;
}

.dave-stop-img {
  background-image: url(../assets/stop.svg);
  margin: 0;
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: center;
  flex-shrink: 0;
  height: 35px;
  width: 35px;
  border-radius: 100px;
  border: none;
  box-shadow: inset 3px 3px 3px rgb(255 255 255 / 50%), inset -3px -3px 3px rgb(0 0 0 /15%), 3px 3px 5px rgb(0 0 0 /7%);
}

.chat_box {
  display: flex;
  flex-direction: column;
  height: auto !important;
  min-height: 170px;
  justify-content: flex-end;
  position: relative;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 5px 10px rgb(0 0 0 /20%);
  padding: 8px 0 !important;
}

div#chat_placeholder {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.message_box {
  /* position: absolute; */
  bottom: 10px;
  width: -webkit-fill-available;
  display: flex;
  justify-content: space-around;
  background: #F0F0F3;
  /* margin: 0 10px; */
  border-radius: 5px;
  padding: 5px;
  /* padding-right: 10px; */
  align-items: center;
  margin: 0 8px;
  /* gap: 7px; */
  box-shadow: inset 3px 3px 5px #AEAEC080, inset -3px -3px 5px rgb(255 255 255 / 50%);
}

/* .chat_box.dave-speech-stop {
    min-height: 140px;
} */

.chat_box.dave-speech-stop .questions {
  margin-bottom: 0;
  bottom: 0;
}

.chat_box.dave-speech-stop .message_box {
  display: none;
}

.message_box .input_box #input-text {
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  /* line-height: 22px; */
  height: auto;
  padding: 0;
  padding-right: 5px;
  background-color: transparent;
  border: none;
  border-radius: 0 !important;
}



.message_box .input_box #input-text::placeholder {
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  color: #707070;
}

.input_box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.chat_placeholder .actions .btns {
  background-color: #F0F0F3;
  height: 35px;
  width: 35px;
  background-size: 20px;
  background-position: center;
  margin-bottom: 8px;
  border-radius: 100px;
  box-shadow: inset 3px 3px 3px rgb(255 255 255 / 50%), inset -3px -3px 3px rgb(0 0 0 /15%), 3px 3px 10px rgb(0 0 0 / 20%);
}

.message_box .input_box .btns#input-send {
  position: static;
  flex-shrink: 0;
  height: 35px;
  border-radius: 50%;
  background-size: 15px;
  background-position: 11.5px center;
  width: 35px;
  background-image: url(../assets/Send.svg);
}

div#quick_access {
  /* overflow-x: scroll;
  white-space: nowrap; */
  scrollbar-width: auto;
  /* margin-bottom: 5px; */
  /* width: 100%; */
  /* display: flex; */
  /* align-self: flex-start; */
  align-items: center;
  max-width: 5vw;
  overflow: auto;
  margin: 0 8px;
  padding: 5px 5px;
  gap: 20px;
  border-radius: 100px;
  min-height: 35px;
  min-width: 100%;
  box-shadow: inset 3px 3px 5px #AEAEC080, inset -3px -3px 5px rgb(255 255 255 / 50%);
}

.options-panel.form::-webkit-scrollbar {
  width: 3px;

}

.butn,
.butn-dark,
.butn-sm {
  box-shadow: unset;
}

/* //font increase */
@media only screen and (max-width: 480px) {

  .butn-sm,
  .butn-group-sm>.butn {
    padding: 3px 6px;
    font-size: 14px !important;
    line-height: 1.5;
    border-radius: 0.2rem;
  }
}

#quick_access button {
  margin-bottom: 5px;
  font-style: normal;
  font-weight: medium;
  font-family: "Roboto", sans-serif !important;
  background-color: transparent;
  color: #1616164D;
  font-size: 0.9rem;
  margin: 0;
  position: relative;
  border-radius: 40px;
  cursor: pointer;
  transition: border-color 0.3s, color 0.3s;
  border: 2px solid #b9accf;
}

#quick_access button:active,
#quick_access button:focus {
  background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, rgb(38, 38, 216), rgb(198, 142, 226)) border-box;
  border-radius: 50em;
  border: 2px solid transparent;
  color: #000;
  outline: none !important;
  box-shadow: unset;
}

#mute {
  background-color: #F0F0F3;
  background-image: url(../assets/Volume_Disabled.svg);
  height: 35px;
  width: 35px;
  background-size: 20px;
  background-position: center;
}

#cc {
  background-image: url(../assets/CC_Enabled.svg);
  opacity: 1;
}
.message_box .input_box .btns#input-send:hover{
  background-image: url(../assets/Send_Hovered.svg);
}
#cc.enabled {
  background-image: url(../assets/CC_Enabled.svg);
  opacity: 0.5;
}



/* .chat_placeholder .actions .unmute#mute {
  background-image: url(../assets/Volume_Disabled.svg); */

.chat_placeholder .actions .unmute#mute {
  background-image: url(../assets/Volume_Enabled.svg);
}

div::-webkit-scrollbar-thumb {
  background: linear-gradient(95.08deg, #390099 28.31%, #6826D7 137.87%);
  width: 3px;
}

div::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(95.08deg, #390099 28.31%, #6826D7 137.87%);
}

button.butn.butn-dark.butn-sm.dave-add-speech {
  width: 20%;
  position: relative;
  left: 40%;
  margin-bottom: 5px;
  outline: none;
  border: none;
}

.questions {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  /* position: absolute; */
  /* bottom: 35px; */
  border-top: 1px solid #C3C9CD;
  /* padding: 10px 10px 10px 10px; */
  width: -webkit-fill-available;
  padding: 9px 0px;
  /* scrollbar-width: auto; */
  margin-right: 14px;
  overflow: hidden;
}

.message_box .input_box {
  /* width: 85%; */
  padding: 0;

}

.message_box .mic_box {
  position: relative;
  right: 0;
  display: flex;
  width: auto !important;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  box-shadow: inset 3px 3px 3px rgb(255 255 255 / 50%), inset -3px -3px 3px rgb(0 0 0 /15%), 3px 3px 5px rgb(0 0 0 /7%);
  border-radius: 100px;
}

.message_box .mic_box .btns#record.record {
  margin: 0;
  background: url(../assets/Mic_Disabled.svg);
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: center;
  flex-shrink: 0;
  height: 35px;
  width: 35px;
}

.message_box .mic_box .btns#record.recording {
  margin: 0;
  background: url(../assets/Mic_Enabled.svg);
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: center;
  flex-shrink: 0;
  height: 35px;
  width: 35px;
}

.svg {
  width: 100%;
  height: 6vh;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: none;
}

.searchable {
  max-height: 100px;
  width: 85%;
  color: #2d3494;
  bottom: 38px;
  font-size: smaller;
  font-weight: lighter;
  margin: 20px;
}

.dave_conversation {
  z-index: 10;
}

.dave_conversation .searchable li {
  color: #a9a4a4;
  padding: 2px;
  margin-bottom: 0;
  list-style: none;
}

.dave_conversation .searchable li:hover,
.dave_conversation .searchable li:active {
  background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, rgb(113, 69, 210), rgb(194, 157, 213)) border-box;
  border-radius: 8px;
  border: 2px solid transparent;
  color: #5a5757;
}

.dave_conversation .searchable li>span {
  padding: 0;
  font-size: 14px;
}

.list-group-item:last-child {
  border-bottom-right-radius: unset;
  border-bottom-left-radius: unset;
}

.dave_conversation .searchable li:hover>span {
  padding: 0;
  border: none;
}

.searchable::-webkit-scrollbar {
  width: 0px;
}

.dave_chat {
  max-width: 310px;
}

.chat_placeholder .response {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  position: absolute;
  background: #F0F0F3E5;
  left: 0;
  top: -110px;
  border-radius: 15px;
  box-shadow: 0 5px 10px rgb(0 0 0 /20%);
  color: #000;
  padding: 10px;
  color: #161616;
  font-family: 'satoshi', sans-serif;
  font-size: medium;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
}

.chat_placeholder .response,
p {
  overflow-y: auto;
}

.chat_placeholder .response #message {
  color: #000;
  overflow-y: auto;
  word-wrap: break-word;
  padding: 0;
  margin: 0;
}

.message_box .mic_box .btns {
  position: static;
  margin: 5px 5px 5px 0;
}

.chat_placeholder .actions {
  /* position: absolute; */
  right: 10px;
  display: flex;
  width: auto;
  margin-left: 8px;
  gap: 10px;
}

.actions .btns#close_message {
  position: absolute;
  top: -20px;
  right: -10px;
  padding: 5px;
  height: 30px;
  width: 30px;
  border-radius: 100px;
}

.actions .btns#close_message::after {
  position: absolute;
  content: "";
  top: -2.5px;
  left: -2.5px;
  height: 35px;
  border-radius: 100px;
  width: 35px;
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.05) 0%, rgba(255, 255, 255, 0.05) 100%);
}

.actions .btns#close_message::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 100px;
  height: 30px;
  width: 30px;
  background: url(../assets/Close.svg);
  background-position: 9px;
  background-repeat: no-repeat;
  background-color: #F0F0F3;
  box-shadow: 5px 5px 10px 0px #AEAEC04D, -5px -5px 10px 0px #FFFFFF, 2px 2px 4px 0px #FFFFFF inset, -2px -2px 4px 0px #0000001A inset;

}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(95.08deg, #390099 28.31%, #6826D7 137.87%);
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(95.08deg, #390099 28.31%, #6826D7 137.87%);
}

.select2-container {
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  position: relative;
  vertical-align: middle
}

.select2-container .select2-selection--single {
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  height: 28px;
  user-select: none;
  -webkit-user-select: none
}

.select2-container .select2-selection--single .select2-selection__rendered {
  display: block;
  padding-left: 8px;
  padding-right: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

.select2-container .select2-selection--single .select2-selection__clear {
  background-color: transparent;
  border: none;
  font-size: 1em
}

.select2-container[dir="rtl"] .select2-selection--single .select2-selection__rendered {
  padding-right: 8px;
  padding-left: 20px
}

.select2-container .select2-selection--multiple {
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  min-height: 32px;
  user-select: none;
  -webkit-user-select: none
}

.select2-container .select2-selection--multiple .select2-selection__rendered {
  display: inline;
  list-style: none;
  padding: 0
}

.select2-container .select2-selection--multiple .select2-selection__clear {
  background-color: transparent;
  border: none;
  font-size: 1em
}

.select2-container .select2-search--inline .select2-search__field {
  box-sizing: border-box;
  border: none;
  font-size: 100%;
  margin-top: 5px;
  margin-left: 5px;
  padding: 0;
  max-width: 100%;
  resize: none;
  height: 18px;
  vertical-align: bottom;
  font-family: sans-serif;
  overflow: hidden;
  word-break: keep-all
}

.select2-container .select2-search--inline .select2-search__field::-webkit-search-cancel-button {
  -webkit-appearance: none
}

.select2-dropdown {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
  box-sizing: border-box;
  display: block;
  position: absolute;
  left: -100000px;
  width: 100%;
  z-index: 1051
}

.select2-results {
  display: block
}

.select2-results__options {
  list-style: none;
  margin: 0;
  padding: 0
}

.select2-results__option {
  padding: 6px;
  user-select: none;
  -webkit-user-select: none
}

.select2-results__option--selectable {
  cursor: pointer
}

.select2-container--open .select2-dropdown {
  left: 0
}

.select2-container--open .select2-dropdown--above {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0
}

.select2-container--open .select2-dropdown--below {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0
}

.select2-search--dropdown {
  display: block;
  padding: 4px
}

.select2-search--dropdown .select2-search__field {
  padding: 4px;
  width: 100%;
  box-sizing: border-box
}

.select2-search--dropdown .select2-search__field::-webkit-search-cancel-button {
  -webkit-appearance: none
}

.select2-search--dropdown.select2-search--hide {
  display: none
}

.select2-close-mask {
  border: 0;
  margin: 0;
  padding: 0;
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
  opacity: 0;
  z-index: 99;
  background-color: #fff;
  filter: alpha(opacity=0)
}

.select2-hidden-accessible {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important
}

.select2-container--default .select2-selection--single {
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 4px
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #444;
  line-height: 28px
}

.select2-container--default .select2-selection--single .select2-selection__clear {
  cursor: pointer;
  float: right;
  font-weight: bold;
  height: 26px;
  margin-right: 20px;
  padding-right: 0px
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: #999
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 26px;
  position: absolute;
  top: 1px;
  right: 1px;
  width: 20px
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-color: #888 transparent transparent transparent;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  height: 0;
  left: 50%;
  margin-left: -4px;
  margin-top: -2px;
  position: absolute;
  top: 50%;
  width: 0
}

.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__clear {
  float: left
}

.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__arrow {
  left: 1px;
  right: auto
}

.select2-container--default.select2-container--disabled .select2-selection--single {
  background-color: #eee;
  cursor: default
}

.select2-container--default.select2-container--disabled .select2-selection--single .select2-selection__clear {
  display: none
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #888 transparent;
  border-width: 0 4px 5px 4px
}

.select2-container--default .select2-selection--multiple {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: text;
  padding-bottom: 5px;
  padding-right: 5px;
  position: relative
}

.select2-container--default .select2-selection--multiple.select2-selection--clearable {
  padding-right: 25px
}

.select2-container--default .select2-selection--multiple .select2-selection__clear {
  cursor: pointer;
  font-weight: bold;
  height: 20px;
  margin-right: 10px;
  margin-top: 5px;
  position: absolute;
  right: 0;
  padding: 1px
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: #e4e4e4;
  border: 1px solid #aaa;
  border-radius: 4px;
  box-sizing: border-box;
  display: inline-block;
  margin-left: 5px;
  margin-top: 5px;
  padding: 0;
  padding-left: 20px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: bottom;
  white-space: nowrap
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__display {
  cursor: default;
  padding-left: 2px;
  padding-right: 5px
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  background-color: transparent;
  border: none;
  border-right: 1px solid #aaa;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  color: #999;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
  padding: 0 4px;
  position: absolute;
  left: 0;
  top: 0
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover,
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:focus {
  background-color: #f1f1f1;
  color: #333;
  outline: none
}

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
  margin-left: 5px;
  margin-right: auto
}

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice__display {
  padding-left: 5px;
  padding-right: 2px
}

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
  border-left: 1px solid #aaa;
  border-right: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px
}

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__clear {
  float: left;
  margin-left: 10px;
  margin-right: auto
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
  border: solid black 1px;
  outline: 0
}

.select2-container--default.select2-container--disabled .select2-selection--multiple {
  background-color: #eee;
  cursor: default
}

.select2-container--default.select2-container--disabled .select2-selection__choice__remove {
  display: none
}

.select2-container--default.select2-container--open.select2-container--above .select2-selection--single,
.select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple {
  border-top-left-radius: 0;
  border-top-right-radius: 0
}

.select2-container--default.select2-container--open.select2-container--below .select2-selection--single,
.select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 1px solid #aaa
}

.select2-container--default .select2-search--inline .select2-search__field {
  background: transparent;
  border: none;
  outline: 0;
  box-shadow: none;
  -webkit-appearance: textfield
}

.select2-container--default .select2-results>.select2-results__options {
  max-height: 200px;
  overflow-y: auto
}

.select2-container--default .select2-results__option .select2-results__option {
  padding-left: 1em
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__group {
  padding-left: 0
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -1em;
  padding-left: 2em
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -2em;
  padding-left: 3em
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -3em;
  padding-left: 4em
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -4em;
  padding-left: 5em
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -5em;
  padding-left: 6em
}

.select2-container--default .select2-results__option--group {
  padding: 0
}

.select2-container--default .select2-results__option--disabled {
  color: #999
}

.select2-container--default .select2-results__option--selected {
  background-color: #ddd
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: #5897fb;
  color: white
}

.select2-container--default .select2-results__group {
  cursor: default;
  display: block;
  padding: 6px
}

.select2-container--classic .select2-selection--single {
  background-color: #f7f7f7;
  border: 1px solid #aaa;
  border-radius: 4px;
  outline: 0;
  background-image: -webkit-linear-gradient(top, #fff 50%, #eee 100%);
  background-image: -o-linear-gradient(top, #fff 50%, #eee 100%);
  background-image: linear-gradient(to bottom, #fff 50%, #eee 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFEEEEEE', GradientType=0)
}

.select2-container--classic .select2-selection--single:focus {
  border: 1px solid #5897fb
}

.select2-container--classic .select2-selection--single .select2-selection__rendered {
  color: #444;
  line-height: 28px
}

.select2-container--classic .select2-selection--single .select2-selection__clear {
  cursor: pointer;
  float: right;
  font-weight: bold;
  height: 26px;
  margin-right: 20px
}

.select2-container--classic .select2-selection--single .select2-selection__placeholder {
  color: #999
}

.select2-container--classic .select2-selection--single .select2-selection__arrow {
  background-color: #ddd;
  border: none;
  border-left: 1px solid #aaa;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  height: 26px;
  position: absolute;
  top: 1px;
  right: 1px;
  width: 20px;
  background-image: -webkit-linear-gradient(top, #eee 50%, #ccc 100%);
  background-image: -o-linear-gradient(top, #eee 50%, #ccc 100%);
  background-image: linear-gradient(to bottom, #eee 50%, #ccc 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEEEEEE', endColorstr='#FFCCCCCC', GradientType=0)
}

.select2-container--classic .select2-selection--single .select2-selection__arrow b {
  border-color: #888 transparent transparent transparent;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  height: 0;
  left: 50%;
  margin-left: -4px;
  margin-top: -2px;
  position: absolute;
  top: 50%;
  width: 0
}

.select2-container--classic[dir="rtl"] .select2-selection--single .select2-selection__clear {
  float: left
}

.select2-container--classic[dir="rtl"] .select2-selection--single .select2-selection__arrow {
  border: none;
  border-right: 1px solid #aaa;
  border-radius: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  left: 1px;
  right: auto
}

.select2-container--classic.select2-container--open .select2-selection--single {
  border: 1px solid #5897fb
}

.select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow {
  background: transparent;
  border: none
}

.select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #888 transparent;
  border-width: 0 4px 5px 4px
}

.select2-container--classic.select2-container--open.select2-container--above .select2-selection--single {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-image: -webkit-linear-gradient(top, #fff 0%, #eee 50%);
  background-image: -o-linear-gradient(top, #fff 0%, #eee 50%);
  background-image: linear-gradient(to bottom, #fff 0%, #eee 50%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFEEEEEE', GradientType=0)
}

.select2-container--classic.select2-container--open.select2-container--below .select2-selection--single {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-image: -webkit-linear-gradient(top, #eee 50%, #fff 100%);
  background-image: -o-linear-gradient(top, #eee 50%, #fff 100%);
  background-image: linear-gradient(to bottom, #eee 50%, #fff 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEEEEEE', endColorstr='#FFFFFFFF', GradientType=0)
}

.select2-container--classic .select2-selection--multiple {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: text;
  outline: 0;
  padding-bottom: 5px;
  padding-right: 5px
}

.select2-container--classic .select2-selection--multiple:focus {
  border: 1px solid #5897fb
}

.select2-container--classic .select2-selection--multiple .select2-selection__clear {
  display: none
}

.select2-container--classic .select2-selection--multiple .select2-selection__choice {
  background-color: #e4e4e4;
  border: 1px solid #aaa;
  border-radius: 4px;
  display: inline-block;
  margin-left: 5px;
  margin-top: 5px;
  padding: 0
}

.select2-container--classic .select2-selection--multiple .select2-selection__choice__display {
  cursor: default;
  padding-left: 2px;
  padding-right: 5px
}

.select2-container--classic .select2-selection--multiple .select2-selection__choice__remove {
  background-color: transparent;
  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  color: #888;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
  padding: 0 4px
}

.select2-container--classic .select2-selection--multiple .select2-selection__choice__remove:hover {
  color: #555;
  outline: none
}

.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
  margin-left: 5px;
  margin-right: auto
}

.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice__display {
  padding-left: 5px;
  padding-right: 2px
}

.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px
}

.select2-container--classic.select2-container--open .select2-selection--multiple {
  border: 1px solid #5897fb
}

.select2-container--classic.select2-container--open.select2-container--above .select2-selection--multiple {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0
}

.select2-container--classic.select2-container--open.select2-container--below .select2-selection--multiple {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0
}

.select2-container--classic .select2-search--dropdown .select2-search__field {
  border: 1px solid #aaa;
  outline: 0
}

.select2-container--classic .select2-search--inline .select2-search__field {
  outline: 0;
  box-shadow: none
}

.select2-container--classic .select2-dropdown {
  background-color: #fff;
  border: 1px solid transparent
}

.select2-container--classic .select2-dropdown--above {
  border-bottom: none
}

.select2-container--classic .select2-dropdown--below {
  border-top: none
}

.select2-container--classic .select2-results>.select2-results__options {
  max-height: 200px;
  overflow-y: auto
}

.select2-container--classic .select2-results__option--group {
  padding: 0
}

.select2-container--classic .select2-results__option--disabled {
  color: grey
}

.select2-container--classic .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: #3875d7;
  color: #fff
}

.select2-container--classic .select2-results__group {
  cursor: default;
  display: block;
  padding: 6px
}

.select2-container--classic.select2-container--open .select2-dropdown {
  border-color: #5897fb
}

#loaded_whiteboard {
  margin-right: 55px;
}


@media only screen and (max-width: 768px){
  .chat_placeholder .response p, .chat_placeholder .response p span {
    font-size: 17px !important;
    line-height: 21px;
    font-weight: 600;
}
.message_box .mic_box {
  right: 0 !important;
}
.loading{
  margin-top: 0;
}
}


@keyframes aaflash {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

.aaflash {
  animation: aaflash 1.5s ease-in-out infinite;
}


@media (orientation: landscape) {
  .dave_conversation.full .dave-chat {
    width: 58% !important;
    /* right: 69px; */
}
.avatar_container {
  width: 65vw;
  display: block;
  height: 65vw;
  /* min-height: 399px; */
  position: fixed;
  right: -22%;
  bottom: 0%;
  /* top: 0px !important; */
  z-index: 999;
  left: unset;
}
/* #unityContainer {
  margin-top: 0 !important;
  outline: unset;
  touch-action: pan-y !important;
  position: absolute;
  bottom: 0;
  right: 10%;
} */
@media only screen and (max-width: 768px){

  #unityContainer {
    top: -126px;
    bottom: -14vh;
    left: 5px;
  }
}
.chat_placeholder .response {
  height: 91px !important;
  top: -98px !important;
  padding: 10px !important;
}
}

@media only screen and (min-width:1800px){
  /* .chat_container {
    right: 6%;
  } */

}

@media only screen and (min-width:1100px) and (max-width:1500px){
  .avatar_container {
    width: 75vw;
    display: block;
    height: 75vw;
    /* min-height: 399px; */
    position: fixed;
    right: -25%;
    bottom: 0%;
    /* top: 0px !important; */
    z-index: 999;
    left: unset;
}
}
@media only screen and (min-width:1500px){
  .chat_box {
    display: flex;
    flex-direction: column;
    height: 23vh !important;
    width: 20vw;
    /* min-height: 170px; */
    justify-content: space-evenly;
    position: relative;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 5px 10px rgb(0 0 0 /20%);
    padding: 8px 0 !important;
  }
  .whiteboard{
    width:20vw;
    max-width:none
  }
}

.whiteboard #close_wb{
  border-radius: 100px;
    height: 30px;
    width: 30px;
    background: url(https://general-iamdave-mumbai.s3.ap-south-1.amazonaws.com/maruti_vector_gpt/assets/Close.svg);
    background-position: 9px;
    background-repeat: no-repeat;
    background-color: #F0F0F3;
    box-shadow: 5px 5px 10px 0px #AEAEC04D, -5px -5px 10px 0px #FFFFFF, 2px 2px 4px 0px #FFFFFF inset, -2px -2px 4px 0px #0000001A inset;
    right: -6.5px;
    position: absolute;
    top: -16px;
    z-index: 99999999999;
}

.dave-bottitleicon {
    display: none;
}

button#dave-cb-usersend {
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.dave-cb-send-icon {
    bottom: 0;
    height: 100%;
}

#buttons,
#status {
    display: none;
}

#content {
    position: absolute;
    margin: 0 auto;
    display: flex;
    align-items: end;
    justify-content: flex-end;
    width: 100%;
    height: calc(100vh - 420px);
    top: 3%;
    right: 1%;
} 

#video-element {
    background: #000;
    border-radius: 25px;
}

.dave-chatbox-open {
    border-radius: 10px;
}

.dave-chatbox-cont {
    position: absolute;
    right: 2%;
}

.dave-avatar-container-hide {
    display: none !important;
}